'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'Go'
            'submenu': [
                {'label': 'Format File', 'command': 'golang:gofmt'}
            ]
        ]
    }
]
